<div class= "albums">
<% @albums.each do |album| %>
<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="<%=album.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="<%= album_path(album) %>"><%= album.name %></a>
            </div>
        </div>
    </div>
</div>
<%#= image_tag album.image %>
<% end %> 
</div>
  

